<h1>View the details!</h1>


<div class="container">
  <%= link_to "Go Back To List", list_path %> <br> <br>
  <hr />
  <div class="details">
    <%= @task.title %> <br>
    <%= @task.details %> <br>
    <%= @task.completed %> <br>
    <%= link_to "Update this task", edit_path(@task) %>
  </div>
</div>
