<h1>View all of your wonderful tasks!</h1>

<div class="container">
  <div class="new">
    <%= link_to "Create a new task", new_path %>
  </div>
  <div class="tasks">
    <ul>
      <% @tasks.each do |task| %>
      <li>
        <%= link_to task.title, details_path(task) %> <br>
        <!-- <%= task.title %> <br> -->
        <!-- <%= task.details %> <br> -->
        Completed: <%= task.completed %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
